
<footer class="page-footer font-small blue" style="background-color: #323641;
color: turquoise;
bottom: 0;
position: fixed;
width: 100%;">
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> SpacePark.com</a>
    </div>
</footer>