<div id="header" class="head">
    <div id="logo">
        <h3>
            <span style="color: #323641;">Space</span>
            <span>Park</span>
        </h3>
    </div>  
    <nav>
        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars fa-2x"></i>
        </button>
    </nav>
    <ul class="nav-ul" id="nav-ul">
        <li><a href="/home-dashboard">Home</a></li>
        <li><a href="/profile-new/<%= id %>">Timeline</a></li>
        <li><a href="/home-dashboard/explore">Explore</a></li>
        <li><a href="/home-dashboard/followers">Followers</a></li>
        <li><a href="/home-dashboard/following">Following</a></li>
        <!-- <li><a href="/create-post">CREATE POST</a></li> -->
    </ul>
    <div id="searchbar" class="wrap">
        <input type="text" placeholder="What are you looking for?" class="search-term">
        <button type="button" class="search-button">
            <i class="fa fa-search"></i>
        </button>
        <a href="/create-post" class="create">Create Post</a>
        <form action="/logout?_method=DELETE" method="POST" style="display: inline-block;">
            <button type="submit" class="create">Logout</button>
        </form>
    </div>
</div>