<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/404.css">
    <script src="https://kit.fontawesome.com/6747d42fe5.js" crossorigin="anonymous"></script>
    <title>404</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="top-nav">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="#" class="navbar-brand">
                <span class="fw-bold h3 text-white">SpacePark</span>
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Timeline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white">Following</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white">Followers</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container-fluid" id="banner">
        <img src="https://pbs.twimg.com/media/EiNVhxQWsAALotp.jpg" alt="" id="banner-avatar">
        <div id="icon-tray">
          <i class="fa fa-solid fa-gear fa-1x"></i>
          <i class="fa fa-solid fa-envelope fa-1x"></i>
          <i class="fa fa-solid fa-bell fa-1x"></i>
        </div>
      </div>
</body>
</html>