<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home-guest.css">
    <title>SpacePark</title>
</head>
<body style="background-color: rgb(245, 243, 243);">
    <!-- navbar -->  
    <nav class="navbar navbar-expand-lg">
        <div class="container-xxl">
            <a href="#" class="navbar-brand">
                <span class="fw-bold h3">SpacePark</span>
            </a>
            <form class="form-inline navbar-form navbar-center my-2 my-auto">
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm m-2 rounded" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  <input type="password" class="form-control form-control-sm m-2 rounded" placeholder="Password" aria-describedby="passwordHelpBlock">
                  <button id="login-btn" class="btn btn-outline-success m-2 rounded" type="submit">Log In</button>
                </div>
              </form>
        </div>
    </nav>
    
    <div class="container py-md-5">
        <div class="row align-items-center">
            <div class="col-lg-7 py-3 py-md-5">
                <h1 class="display-3">Welcome to SpacePark</h1>      
                <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus autem voluptates similique recusandae officiis dolorem dolores esse soluta. Deleniti delectus quis temporibus excepturi quia minus deserunt! Voluptatibus itaque obcaecati quidem.
                </p>
                <!-- <p class="lead text-muted">Are you sick of short tweets and impersonal “shared” posts that are reminiscent of the late 90’s email forwards? We believe getting back to actually writing is the key to enjoying the internet again.</p> -->
            </div>
            <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5 px-lg-5">
                <form action="/register" method="POST" id="registration-form">
                    <div class="form-group">
                      <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
                      <input name="username" id="username-register" class="form-control" type="text" placeholder="Pick a username" autocomplete="off">
                    </div>
                    
                    <div class="form-group">
                      <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
                      <input name="email" id="email-register" class="form-control" type="text" placeholder="you@example.com" autocomplete="off">
                    </div>
                    
                    <div class="form-group">
                      <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
                      <input name="password" id="password-register" class="form-control" type="password" placeholder="Create a password">
                    </div>
               
                    <input type="hidden" name="_csrf" value="IyOURRR7-wJAIkEzz5-bY1HZcKF9R7PkulLw">                  
                    <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block" id="signup-button">Sign up for SpacePark</button>
                  </form>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>