<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home-guest.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div id="stripes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- <nav>
            <div id="logo">
                <h3>
                    <span style="color: #323641;">Space</span>
                    <span style="color: white;">Park</span>
                </h3>
            </div> 
        </nav> -->
        <div id="header" class="head">
            <div id="logo">
                <h3>
                    <span style="color: #323641;">Space</span>
                    <span>Park</span>
                </h3>
            </div>  
            <nav>
                <button class="hamburger" id="hamburger">
                    <i class="fas fa-bars fa-2x"></i>
                </button>
            </nav>
            <form action="/login" method="POST">
                <input type="email" placeholder="email" class="search-term" name="loginEmail" required>
                <input type="password" placeholder="password" class="search-term" name="loginPassword" required>
                <button type="submit" class="create">Log In</button>
            </form>
        </div>
        <%- include('./partials/messg-alert.ejs') %>
        <% if (typeof(errors) != "undefined") { %>
            <div class="alert alert-<%= errors[0].type %>     alert-dismissible fade show text-center" role="alert" style="position: fixed; width: 100%;">
                <%= errors[0].msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <% if (messages.error) { %>
            <div class="alert alert-danger    alert-dismissible fade show text-center" role="alert" style="position: fixed; width: 100%;">
                <%= messages.error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <div class="decoration">
            <!-- <img src="Chat.png" alt=""> -->
            <div class="para">
                <div class="para1">
                    <h1>Because,</h1>
                </div>
                <div class="para2">
                    <h1>We Love Social Media</h1>
                </div>
            </div>
        </div>
        <div class="signup">
            <form action="/register" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" id="username-register" placeholder="Pick a username" class="signup-input">
                <label for="mail">Email</label>
                <input type="email" name="email" id="email-register" placeholder="email" class="signup-input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password-register" placeholder="Create a Password" class="signup-input">
                <button type="submit" class="signup-btn">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>