<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/profile-new.css">
    <script src="https://kit.fontawesome.com/6747d42fe5.js" crossorigin="anonymous"></script>
    <title>SpacePark Profile</title>
</head>
<body>
    <div id="header" class="head">
        <div id="logo">
            <h3>
                <span style="color: #323641;">Space</span>
                <span>Park</span>
            </h3>
        </div>  
        <nav>
            <button class="hamburger" id="hamburger">
                <i class="fas fa-bars fa-2x"></i>
            </button>
        </nav>
        <ul class="nav-ul" id="nav-ul">
            <li><a href="#">HOME</a></li>
            <li><a href="#">TIMELINE</a></li>
            <li><a href="#">FOLLOWERS</a></li>
            <li><a href="#">FOLLOWING</a></li>
        </ul>
        <div id="searchbar" class="wrap">
            <input type="text" placeholder="What are you looking for?" class="search-term">
            <button type="button" class="search-button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div id="header-below">
        <div id="avatar">
            <img src="https://pbs.twimg.com/media/EiNVhxQWsAALotp.jpg" alt="">
        </div>
        <div id="icon-tray">
            <i class="fa fa-solid fa-gear fa-1x"></i>
            <i class="fa fa-solid fa-envelope fa-1x"></i>
            <i class="fa fa-solid fa-bell fa-1x"></i>
        </div>
    </div>
    <div class="main-container">
        <div class="blog">
            
        </div>
    </div>
    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">
          © 2021 Copyright: <a href="#">SpacePark</a>
        </div>
    </footer>
</body>
<script src="../public/javascripts/profile-new.js"></script>
</html>