.container {
    overflow: visible;
    width: 655px;
    height: 100vh;
    margin: 0 auto;
}

.container form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    height: 50px;
    margin-bottom: 30px;
}

.description {
    height: 50px;
    margin-bottom: 30px;
}

.snippet {
    padding: 0px;
    height: 50vh;
    margin-bottom: 30px;
}

textarea, input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.publish {
    border: none;
    background-color: #1E96B8;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 600px) {

    #header {
        width: 100%;
        height: auto;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    #searchbar {
        display: none;
    }

    #header .nav-ul  {
        align-items: center;
        display: none;
        /* margin-left: -500px; */
        flex-direction: column;
        width: 100%;
    }

    #header .nav-ul.show {
        display: flex;
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .main-container {
        width: 100%;
    }

    .card {
        margin: 5%;
    }
  }