.container {
    display: flex;
    overflow: visible;
    height: 100vh;
    justify-content: center;
}

.container form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    height: 50px;
    margin-bottom: 20px;
}

.description {
    height: 50px;
    margin-bottom: 20px;
}

/* .snippet {
    padding: 0px;
    height: 50vh;
    margin-bottom: 30px;
} */

textarea, input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#edit-container {
    height: 50px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    /* border-top: 0px; */
    height: 300px;
}

.publish {
    border: none;
    background-color: #1E96B8;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 600px) {

    #header {
        width: 100%;
        height: auto;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    #searchbar {
        display: none;
    }

    #header .nav-ul  {
        align-items: center;
        display: none;
        /* margin-left: -500px; */
        flex-direction: column;
        width: 100%;
    }

    #header .nav-ul.show {
        display: flex;
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .main-container {
        width: 100%;
    }

    .card {
        margin: 5%;
    }
  }