.navbar{
    /* background: #30b7c8; */
    /* background-image: linear-gradient(45deg,#2ca5b5, #30b7c8); */
    background-image: linear-gradient(30deg, #1E96B8, #2FB4C7);
    min-height: 32px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    margin-left: 10px;
}

.container-xxl {    
    display: block;
}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}


.navbar-collapse{ justify-content: first baseline;}

.navbar-toggler{  background:#fff !important;}

#login-btn{
    background-color: #1E96B8;
    color: white;
}

#bodycontainer {
    size: 100%;
    color: turquoise;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.form-group {
    margin-bottom: 1rem;
}

form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

.btn-block {
    width: 100%;
}

#signup-button {
    background-color: #1E96B8;
}


footer {
    background-color: #323641;
    color: turquoise;
    bottom: 0;
    position: fixed;
    width: 100%;
}