
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Martel+Sans:wght@900&display=swap');

.main {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 60px;
}

.title {
    margin-bottom: 20px;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
}

.title h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.011em;
}

.description p {
    font-family: sohne-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.secondary {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.author {
    display: flex;
    flex-direction: row;
}

.author span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }

.author span {
    margin-top: 5px;
}

.createdOn {
    display: block;
    font-size: 10px;
    margin-left: 15px;
    margin-top:11px;
    /* font-size: 13px; */
    font-family: 'Segoe UI';
    font-weight: lighter;
}

.edit-button {
    margin-right: 20px;
}

.edit-button .edit-btn, .edit-button .delete-btn {
    /* color: white;
    font-weight: lighter;
    background-color: #1784A5;
    border: none;
    width: 70px;
    border-radius: 25px;
    padding: 5px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
      /* border: 1px solid white; */
      border: none;
      background-color: #277da1;
      font-weight: normal;
      font-family: 'Segoe UI';
      font-size: small;
      border-radius: 2px;
      padding: 6px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.btn-group {
    display: block;
}

.create {
    color: white;
    /* border: 1px solid white; */
    border: none;
    background-color: #1784A5;
    font-weight: normal;
    font-family: 'Segoe UI';
    font-size: small;
    border-radius: 25px;
    padding: 6px;
}


@media screen and (min-width: 601px) and (max-width: 1079.98px) {
    .main {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 600px) {

    .main {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
    }

    #header {
        width: 100%;
        height: auto;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    #searchbar {
        display: none;
    }

    #header .nav-ul  {
        align-items: center;
        display: none;
        /* margin-left: -500px; */
        flex-direction: column;
        width: 100%;
    }

    #header .nav-ul.show {
        display: flex;
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .main-container {
        width: 100%;
    }

    .card {
        margin: 5%;
    }
  }